@import '../../variables.scss';

.nav-heading {
    font-size: 24px;
    margin: 0;
    padding: 12px;
    color: $text-color;
    background-color: $primary-pale-color;
    border: 1px solid $border-color;
    opacity: 0.5;
    cursor: pointer;
}

.nav-heading.active {
    opacity: 1;
    position: relative;
}

.nav-list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    position: relative;
    .nav-item{
        margin: 0;
        padding: 0;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        button {
            display: block;
            color: $text-color;
            padding: 10px;
            transition: padding-left 0.3s ease-in-out;
            font-size: 16px;
            line-height: 20px;
            border: unset;
            width: 100%;
            text-align: left;
        }
    }

    .nav-item.active {
        opacity: 1;
        button {
            padding-left: 20px;
        }
    }

    .active-item{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 1px solid $border-color;
        z-index: -1;
        transition: top 0.3s ease-in-out;
    }
}