@import './variables.scss';

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*{
    box-sizing: border-box;
}

.App {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.navbar {
    width: $side-width;
    position: absolute;
    top: $header-height;
}

.map {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

@media (max-width: 739px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .navbar {
        width: 100%;
        top: $map-height-s + $header-height;
    }

    .map{
        position: absolute;
        top: $header-height;
        height: $map-height-s;
        width: 100%;
    }
}
