$primary-color: #FFC40A;
$text-color: #2F2E2C;
$blue-pale-color: #679BF1;
$blue-color: #8AB9F1;
$black-color: #050505;
$primary-pale-color: #F8DE7E;
$border-color: #c2c2c2;

$side-width: 30%;
$header-height: 80px;
$map-height-s: 300px;
$padding: 4px;